@import "tailwindcss";

@theme {
  /* Base palette */
  --color-light-red: #c85048;
  --color-dark-red: #a82028;
  --color-sky-blue: #70b8f0;
  --color-off-white: #f0f0f8;
  --color-light-gray: #F6F6F6;
  --color-black-text: #0F172B;
  --color-charcoal-gray-text: #45556C;


  /* Role aliases*/
  --color-primary-red: var(--color-light-red);
  --color-secondary-red: var(--color-dark-red);
  --color-main-background: var(--color-off-white);
  --color-container-background: var(--color-light-gray);
  --color-cointainer-secondary-background: var(--color-sky-blue);
  --color-text-primary: var(--color-black-text);
  --color-text-secondary: var(--color-charcoal-gray-text);
}